nav {
  background-color: #64FFDA;
}

.landing {
  background-image: url("1.png");
  background-position: center top;
  background-repeat: no-repeat;
  
}

.circle {
  border-radius: 50%;
}

.content {
  background-color: #64FFDA;
  border: 10px;
  border: 0;
}

.search_input {
  width: 100%;
}

.s_button {
  background-color: #ffffff;
  border: 0;
}

.subsubject {
  background-color: #000000;
}

.subdttm {
  background-color: #8BE0F2;
  width: auto;
}

.my_rounded {
  border-radius: 30px!important;
}

.vcenter {
    display: flex;
    align-items: center;
}

.additional {
    display: block;
    align-items: bottom;
}
.nav-link.active {
  background-color: #000000!important;
}

.nav-link {
  background-color: #ffffff;
  color: #000000;
}

.width_button {
  width: 96%;
}

.bg_button {
  background-color: #E563F0!important;
  color: #000000;
}

.bg_yellow {
  background-color: #EFFE3F!important;
  color: #000000;
}

.bg_link {
  background-color: #8BE0F2!important;
  color: #000000;
}

.square {
  width: 75px;
  height: 75px;
  margin: auto;
  background: #ffffff;
  overflow: hidden; 
  border-radius: 50px;
}

.my_color {
  color: #E563F0
}
.photo_cl {
  width: 12%!important;
}

.min_height {
  min-height: 25vh;
}

.dp_width {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25%;
  margin-bottom: 25%;
}
@media only screen and (max-width: 575px) {
  .my_font {
    font-size: 1rem;
  }
  .sub_font {
    font-size: 0.7rem;
  }
  .subj_font {
    font-size: 0.7rem;
  }
  .card_order {
    text-align: center;
    display: block;
    margin-left: 0px;
  }
  .h_font {
    font-size: 1.3rem;
  }
  .centr {
    text-align: center;
    display: block;
    margin-bottom: 1px;
    margin-left: 0rem;
  }
  .ml-null {
    margin-left: 0rem!important;
  }
  .mlr2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 575px) {
  .my_font {
    font-size: 1rem;
  }
  .my_font2 {
    font-size: 0.7rem!important;
  }
  .sub_font {
    font-size: 1rem;
  }
  .h_font {
    font-size: 1.3rem;
  }
  .subj_font {
    font-size: 1rem;
  }
  .card_order {
    text-align: center;
    display: block;
    margin-left: 0px;
  }
  .centr {
    text-align: center;
    display: block;
    margin-bottom: 1px;
  }
  .ml-null {
    margin-left: 0rem!important;
  }
  .photo_edit {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%!important;
  }
  .button_h {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .mlr2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .my_font {
    font-size: 1rem;
  }

  .my_font2 {
    font-size: 0.2rem;
  }
  .sub_font {
    font-size: 0.7rem;
  }
  .h_font {
    font-size: 1rem;
  }
  .h1_font {
    font-size: 2.2rem;
  }
  .subj_font {
    font-size: 0.7rem;
  }
  .card_order {
    text-align: left;
    display: inline-flex;
    margin-left: 0px;
  }
  .centr {
    display: inline-flex;
  }
  .to_right {
    text-align: right;
  }
  .mlr2 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .my_font {
    font-size: 1.5rem;
  }
  .my_font2 {
    font-size: 0.2rem;
  }
  .sub_font {
    font-size: 1rem;
  }
  .h_font {
    font-size: 1.3rem;
  }
  .subj_font {
    font-size: 1rem;
  }
  .to_right {
    text-align: right;
  }
  .photo_edit {
    margin-right: 10px;   
  }
  .photo_cl {
    max-width: 12%!important;
  }
}
@media only screen and (min-width: 1200px) {
  .my_font {
    font-size: 1.5rem;
  }
  .sub_font {
    font-size: 1rem;
  }
  .h_font {
    font-size: 1.3rem;
  }
  .subj_font {
    font-size: 1rem;
  }
  .to_right {
    text-align: right;
  }
}
/*.my_font {
  font-size: 2vw;
}*/