nav {
  background-color: #64FFDA;
}

.circle {
  border-radius: 50%;
}

.content {
  background-color: #64FFDA;
  border: 10px;
  border: 0;
}

.search_input {
  width: 100%;
}

.s_button {
  background-color: #ffffff;
  border: 0;
}

.subsubject {
  background-color: #000000;
}

.subdttm {
  background-color: #8BE0F2;
  width: auto;
}

.my_rounded {
  border-radius: 30px!important;
}

.vcenter {
    display: flex;
    align-items: center;
}

.additional {
    display: block;
    align-items: bottom;
}